<polymer-element name="ui-input" attributes="value multiline placeholder disabled type autofocus
 autocorrect autocapitalize autocomplete">
<template>
  <link rel="stylesheet" type="text/css" href="./ui-input.less">
  <section id="field" on-keydown="{{keydown}}" on-focusout="{{focusOut}}" on-click="{{focusIn}}" on-focusin="{{focusIn}}" class="{{ {disabled: disabled} | tokenList }}">

    <content select="icon"></content>
    <section id="value-input">
      <content select="value"></content>
      <content select="preview"></content>
      <placeholder>{{placeholder}}</placeholder>
      <template if="{{multiline}}">
        <textarea id="input" value="{{value | scrubValue}}" disabled?="{{disabled}}"
          aria-labelledby="placeholder" aria-invalid="{{invalid}}"
          autocorrect="{{autocorrect}}" autocapitalize="{{autocapitalize}}" autocomplete="{{autocomplete}}"
          autofocus?="{{autofocus}}"></textarea>
      </template>
      <template if="{{!multiline}}">
        <input type="{{type}}" id="input" value="{{value | scrubValue}}" disabled?="{{disabled}}"
          autocorrect="{{autocorrect}}" autocapitalize="{{autocapitalize}}" autocomplete="{{autocomplete}}"
          aria-labelledby="placeholder" aria-invalid="{{invalid}}"
          autofocus?="{{autofocus}}"></input>
      </template>
    </section>
  </section>

</template>
<script src="./ui-input.litcoffee"></script>
</polymer-element>
